<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Naisho.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3ABEE4361E70BCE400C753E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3ABEE44A1E70BCE500C753E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3ABEE4551E70BCE500C753E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
